<div class="container p-4">
<table class="table table-hover">
    <tbody>
    <th>LIBRO</th>
    <th>PRECIO UNITARIO</th>
    <th>CANTIDAD</th>
    <th>TOTAL</th>
    <th></th>
        
        
    {{#each detalle}}   


        <tr>
            <td>{{LIBRO}}</td>  
            <td>{{PRECIO_UNITARIO}}</td>
            <td>{{CANTIDAD}}</td>
            <td>{{TOTAL}}</td>

            

        </tr>

    {{/each}}
</tbody>
</table>
 <a href="/ventas/pedido" class="btn btn-success pull-right">VOLVER <i class="fa fa-arrow-left" aria-hidden="true"></i></a>

</div>