

.navbar {
    background: black !important;
}

.nav-link {
    color: #fff !important;
}


    button{
        color:black;
        margin: none;
        border: none;
        background-color:white;
       
    }
    .menu-icon {
        width: 140px;
        height: 49px;
        margin-left: 1%;
    }
    .menu-icon:hover{ 
        transition:none;
        transform:none;
    }

#CANTIDAD label{
        display: block;
        margin-bottom: 7px;
    }
.input-cantidad{
    
        width: 78px;
        height: 27px;
        padding: 0 6px;
        border: 1px solid #d6d4d4;
        line-height: 27px;
    
}


.input-total{
    height: 50px;
    width: 77px;
    text-align: center;
    border: 0;
    font-size: 21px;
    margin: 0;
    color: green;
}

img:hover{ 
    transition:all .9s ease;
    transform: scale(1.1)
}

.img-contenedor{
    margin-bottom: 30px;
}


.footer{
    background-color:black;
    color:white;
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 28px;
}

.pie{
    padding: 10px;
    display: inline-block;
    width: 100%;
    background: 0 0;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.product-name {
    margin-top: 2px;
    margin-bottom: 5px;
    display: block;
    text-transform: capitalize;
}
.product-item-name {    
    height: 60px;
    display: block;

}
.fondo-autor {
    height: 20px;
    font-size: 14px;
}

.price-wrapper{
    color: #009B94;
    font-size: 25px;
    font-weight: 400;
    margin-top: 0;


    }

.col {
    width: 100%;
}
    
.card-subtitle{

padding: 0 0 15px;
word-wrap: break-word;
}

.box-info-product {
    background: #f6f6f6;
    border: 1px solid #d2d0d0;
 
    border-top: 1px solid #b0afaf;
    border-bottom: 1px solid #b0afaf;
}

.product_attributes, .box-cart-bottom {

    box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
    padding: 19px 19px 17px;
}