
<footer class="mt-auto">
  
  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">El Palacio De La Literatura</h5>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Contacto</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a style="color: inherit;" href="https://goo.gl/maps/YhRX9hG7yH7RE7CK7" target="_blank"><i class="fas fa-home mr-3"></i> Viña del Mar, 3 Norte 45</p></a>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> elpalaciodelaliteratura@hotmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> +56912345678</p>
          </li>
       
        </ul>

      </div>
      <!-- Grid column -->

  

      <!-- Grid column -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Siguenos</h5>

        <!-- Facebook -->
        <a type="button" class="faicons">
          <i class="fa fa-facebook" style="color: blue;"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="faicons">
          <i class="fa fa-twitter"  style="color: white;"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="faicons" >
          <i class="fa fa-instagram" ></i>
        </a>
     

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  
   
  </div>
  <!-- Footer Links -->


  <div class="foot" style="text-align: center;"> 
     © 2020 Copyright:
    El Palacio De La Literatura
    </div>

</footer>