


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
        <a class="navbar-brand" href="/">
        <h1 class="logo"></h1>
           El Palacio De La Literatura
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action="/libros/search/:n" method="GET">
                        <div class="input-group">

                            <input type="text" class="form-control" name="n" placeholder="Buscar Libro..." />
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>

                        </div>
                    </form>
                </li>
                {{#if user}}
                 {{#equal user.rol 3 operator="<"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Libros 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/libros/agregar">Agregar Libro</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/libros/lista">Libros</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                  <li class="nav-item">
          <a class="nav-link" href="/ventas/pedido">Ventas</a>
        </li>
                {{/equal}}
            
                {{#equal user.rol 1 operator= "=="}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/usuarios/agregarUsuario">Agregar Usuarios</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/usuarios/lista_usuarios">Usuarios</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                {{/equal}}
              
                   <li class="nav-item">
                          <a class="nav-link" href="/carrito"></i><span>Carrito</span><i class="fas fa-shopping-cart"></i></a>
                            <span id="cart_menu_num" data-action="cart-can" class="badge rounded-circle"></span>
                  </li>
                 <li class"nav-item">
              
        <a class="nav-link" href="/logout">Cerrar Sesión <i class="fa fa-sign-out" aria-hidden="true"></i>
</a>
      </li>
             {{else}}    
        <li class="nav-item">
          <a class="nav-link" href="/signin">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
         {{/if}}
            </ul>
                            
                </div>

</nav>

