<div class="container p-4">
 <h2 style="text-align: center;">Agregar Libros</h2>
    <div class="row">
        <div class="col-md-4 mx-auto">
           <div class="card">              
                <div class="card-body">
                 <form method="POST" autocomplete="off" id="frmAgregarU">
                     <div class="form-group">
                         <input type="text" class="form-control" id="NOMBRE" name="NOMBRE" placeholder="Nombre" autofocus>
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control" id="AUTOR" name="AUTOR" placeholder="Autor">
                     </div>
                     <div class="form-group">
                         <input type="number" class="form-control" id="PRECIO" name="PRECIO" placeholder="Precio" min="0">
                     </div>
                     <div class="form-group">
                         <input type="number" class="form-control" id="STOCK" name="STOCK" placeholder="Stock" min="0">
                     </div>
                     <div class="form-group">
                         <textarea id="SINOPSIS" name="SINOPSIS"rows="2" class="form-control" placeholder="Sinopsis"></textarea>
                     </div>
                    <div class="form-group">
                         <input type="url" class="form-control" id="IMAGEN" name="IMAGEN" placeholder="URL">
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control" id="ISBN" name="ISBN" placeholder="ISBN">
                     </div>
                     <div class="form-group">
                         <button type="submit" class="btn btn-success btn-block"  id="btnAgregarU"> 
                             Agregar
                         </button>
                         
                     </div>
                 </form>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
                        